<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gates of Olympus.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>7</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>213BAADB3725310C8572E654BF12F97971166FA9</string>
				<key>dateExpires</key>
				<string>04/10/24</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>213BAADB3725310C8572E654BF12F97971166FA9</string>
						<key>dateExpires</key>
						<string>04/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BAKFramework.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4XNUM422J</string>
						<key>name</key>
						<string>Nandini Vithlani</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>213BAADB3725310C8572E654BF12F97971166FA9</string>
						<key>dateExpires</key>
						<string>04/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4XNUM422J</string>
						<key>name</key>
						<string>Nandini Vithlani</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>213BAADB3725310C8572E654BF12F97971166FA9</string>
						<key>dateExpires</key>
						<string>04/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4XNUM422J</string>
						<key>name</key>
						<string>Nandini Vithlani</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>213BAADB3725310C8572E654BF12F97971166FA9</string>
						<key>dateExpires</key>
						<string>04/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4XNUM422J</string>
						<key>name</key>
						<string>Nandini Vithlani</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>213BAADB3725310C8572E654BF12F97971166FA9</string>
						<key>dateExpires</key>
						<string>04/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalOutcomes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4XNUM422J</string>
						<key>name</key>
						<string>Nandini Vithlani</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>T4XNUM422J.com.swiftui.app.Gates-of-Olympus</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>T4XNUM422J</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Gates of Olympus.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>cfbd9235-cb38-4dda-af36-725240d7d867</string>
				<key>dateExpires</key>
				<string>10/10/24</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.swiftui.app.Gates-of-Olympus</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>T4XNUM422J</string>
				<key>name</key>
				<string>Nandini Vithlani</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
