<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB56Q5vF_SO3IX4IoI_dOwC3zi06sEB9vs</string>
	<key>GCM_SENDER_ID</key>
	<string>120490100360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swiftui.app.Gates-of-Olympus</string>
	<key>PROJECT_ID</key>
	<string>gates-of-olympus---game-cbbca</string>
	<key>STORAGE_BUCKET</key>
	<string>gates-of-olympus---game-cbbca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:120490100360:ios:e858dfc752ac6d700dc13d</string>
	<key>NSCameraUsageDescription</key>
	<string>We require access to your camera to enable in-app photography and video features.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We require access to your camera to enable in-app photography and video features.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We require access to your photo library.</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>We need to track your usage of this app to provide you with personalized content and ads.</string>
</dict>
</plist>
